button {
  background: #45b2e8;
  border: 0 none;
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin: 15px 0;
  padding: 10px 15px;
  width: 220px;
}
.centered {
  text-align: center;
}
.form-container {
  display: table;
  margin: 0 auto;
}
.img-padding {
  padding: 10px;
}
input[type= text] {
  background: #000000;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  height: 0.5em;
  margin: 0 0 10px 0;
  padding: 1em;
  width: 15em;
  .card-expiry-month {
  width: 6.35em;
  }
  .card-expiry-year {
  width: 8.25em;
  }
}
.pm-payment-form-container {
  border: thin #f4f4f4 solid;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.75);
  padding-left: 20px;
  padding-right: 20px;
}