.centered {
  text-align: center;
}
input[type=text] {
  font-family: "Open Sans", sans-serif;
  width: 15em;
  height: 0.5em;
  border-radius: 0;
  font-size: 0.8em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
input card-expiry-month {
  width: 4.5em;
}
input card-expiry-year {
  width: 8em;
}
button {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  width: 220px;
  padding: 10px 15px;
  margin: 15px 0;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #45b2e8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-container {
  margin: 0 auto;
  display: table;
}
.pm-payment-form-container {
  border: thin #f4f4f4 solid;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.75);
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.img-padding {
  padding: 10px;
}